.left {
    width: 45vw;
    height: 500px;
}

h3, p {
    margin-top: 15px;
    color: white;
}

.set_left h3 {
    font-size: 42px;
}

button {
    width: 320px;
    height: 55px;

    border: transparent;
    border-radius: 8px;
    background-color: #D81C2C;
    color: white;

    margin-top: 25px;
    font-size: 20px;
    font-weight: bolder;

    cursor: pointer;
}

.set_left {
    width: 420px;

    margin-left: 15%;
    margin-top: 120px;
}

.set_left p {
    color: rgb(158, 155, 155);
}